.supplierdetailsmaincontainer{
    position: relative;
    width: 97%;
    height: 1000px;
    margin-bottom: 200px;
}

.supplierdetailsfirstcontainer{
    height: 120px;
}

.supplierdetailssecondcontainer{
    height: 220px;
}

.supplierdetailsthirdcontainer{
    height: 150px;
}

.supplierdetailsfifthcontainer>div>div:nth-child(1){
    border-bottom: 1px solid #8a8a8a;
    position: relative;
    width: 1050px;
}